html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("https://rare-gallery.com/uploads/posts/1000002-Dark-City-lights-drawing-cityscape-night-reflection-skyscraper-evening-metropolis-midnight-light-darkness-screenshot-urban-area.jpg");
  background-size: 100% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.game {
  margin: 30px auto auto auto;
  width: fit-content;
}
.overlay {
  background-color: rgba(60, 61, 61, 0.4);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.block {
  margin: -5px 0 0 1px;
  width: 32px;
  height: 32px;
  display: inline-block;
  background-color: rgba(66, 66, 66, 0);
  border-radius: 1px;
  opacity: 1;
}
.small_block_div {
  margin-top: -10px;
}
.small {
  width: 10px;
  height: 10px;
  margin: -10px 0 0 0;
  opacity: 0;
}

.next_block_container {
  margin: 8px auto 0 auto;
}

.scoreboard_container {
  height: 80px;
  padding: 10px;
  background-color: rgba(75, 75, 75, 0.5);
  padding: 5px;
  margin-bottom: 10px;
  flex: 1;
  border-bottom: 1px solid white;
}

.score_label {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.score {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.border {
  border-top: 2px solid rgb(195, 105, 105);
}

.filled {
}
.pink {
  border: 2px inset white;
  opacity: 1;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.orange {
  border: 2px inset white;
  opacity: 1;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #f08323,
    0 0 0.8rem #f08323, 0 0 2.8rem #f08323, inset 0 0 1.3rem #f08323;
}

.blue {
  border: 2px inset white;
  opacity: 1;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #33a9df,
    0 0 0.8rem #33a9df, 0 0 2.8rem #33a9df, inset 0 0 1.3rem #33a9df;
}

.green {
  border: 2px inset white;
  opacity: 1;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #33df41,
    0 0 0.8rem #33df41, 0 0 2.8rem #33df41, inset 0 0 1.3rem #33df41;
}

.land_block {
  background-color: rgb(200, 200, 200);
  opacity: 1;
}

.top {
  display: flex;
}

.home_title {
  font-size: 32px;
  color: white;
  text-align: center;
}
.home_container {
  margin: 30px auto auto auto;
  width: fit-content;
}

.home_name {
  margin-top: 20px;
}

.home_label {
  font-size: 12px;
  color: white;
  margin-left: 2px;
}
.home_name_input {
  width: 300px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
}

.home_play {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(40, 160, 40);
  border: 1px solid rgb(40, 160, 40);
  border-radius: 5px;
  height: 30px;
  color: white;
  cursor: pointer;
}

.home_scores {
  margin-top: 20px;
  border: 1px solid rgb(187, 213, 95);
  min-height: 200px;
}

.home_scores_title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;

  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

table {
  width: 100%;
}
th {
  color: white;
  font-weight: 600;
}

tr {
  background-color: rgb(41, 41, 41);
  width: 100%;
}

td {
  color: white;
  padding: 5px 30px 5px 5px;
  text-align: left;
}

.heading {
  border-bottom: 2px solid yellow;
}
.score_member {
  margin-top: 10px;
  border: 1px solid white;
}

.home_play {
  padding: 12px;
  font-size: 24px;
  width: 200px;
  height: 54px;
}
